@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  background: #210716;

}




::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    /* background: #29cc3933; */
    
  }
}

